<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>HSFEO</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='../assets/styles/login.css'>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src='../assets/js/login.js'></script>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="container-wrapper">
          <div class="form-title">HSFEO Login</div>
          <div class="form-content">
            <label>
              Email
            </label>
            <div class="form-data">
              <input class="input-form-data" type="text" placeholder="Please enter your email" required v-model="form.email">
            </div>
            <label>Password</label>
            <div class="form-data">
              <input class="input-form-data" type="password" placeholder="Please input your password" required v-model="form.password">
            </div>
            <div class="form-footer">
              <button class="btn-primary" @click="">Login</button>
            </div>
          </div>
        </div>
      </div>
     
    </div>
  </body>
</html>